@import "../../sass/mixins";
@import "../../sass/variables";

.container {
  @include media-desktop-1680px {
    border-left: $app-border;
    border-right: $app-border;
    border-bottom: $app-border;
    margin: 0 auto;
    width: 1362 + ($app-border-width*2);
  }
  @include media-desktop-big {
    border-left: $app-border;
    border-right: $app-border;
    border-bottom: $app-border;
    margin: 0 auto;
    width: 1500 + ($app-border-width*2);
  }
}