@import "../../../sass/page";
@import "../../../sass/mixins";
@import "../../../sass/variables";

.container {
  @include container;
  display: flex;
  justify-content: center;
  height: 500px;
}
.welcome {
  @include welcome-notFound-layout;
}